<!DOCTYPE html>
<html>
<head>
	<title>My Library</title>
    <style>
       #titulo {
            color: green;
        }
    </style>
</head>
	<body>       
        <div id="titulo"></div>
        <!--<div id="message"></div>-->
        <button onclick="saluda();">Saluda</button>
        <button onclick="aplaude();">Aplaude</button>

        <input ng-model="country">
        <button ng-click="getCountry();">Aplaude</button>


        <script src="js/external-library.js" type="text/javascript"></script>
        <script src="js/myprogram.js" type="text/javascript"></script>
        <script src="js/myprogram2.js" type="text/javascript"></script>

  </body>
</html>