 <div>
        <!-- SHOW FORM STATE Sample -->
        <!--<pre>{{userForm.name | json}}<pre> // Podemos acceder al formulario a través de “userForm”
        <form name="userForm">
            <label for="name">Name</label>
            <input type="text"
                    name="name"
                    ng-model="ctrl.user.name" required>
        </form>-->
        <!-- TOAST para form feedback -->
        <div class="toast alert"
             ng-if="ctrl.toast.message"             
             ng-class="{'alert-success':ctrl.toast.success,'alert-warning':ctrl.toast.warning}"             
             role="alert">
             {{ctrl.toast.message}}
             <div class="x-close"
                  ng-click="ctrl.toast = {}">
                  X
             </div>
        </div>  
        
        <!--PAGE HEADER BUTTONS-->
        <div class="page-header">
            
            <!-- Con BUTTON SHOWALL -->
            <!--<button type="button" 
                    ng-repeat="type in ctrl.types"
                    ng-click="ctrl.showType ?  = type"
                    class="btn btn-success button-margin">
                    {{type}}
            </button>-->
           <!-- <button type="button"
                    ng-click="ctrl.showType = ''"
                    class="btn btn-success button-margin">
                    Show All
            </button>-->
            
            <div class="row">
                <div class="form-group">
                    <div class="col-md-8">
                        <input type="text" name="search" id="search" class="form-control" placeholder="Search"
                                ng-model="search">
                        <div ng-if="search">
                            Showing {{(ctrl.activities | filter:search).length}} results
                        </div>
                    </div>
                    <!-- Con BUTTON SWITCH --> 
                    <div class="col-md-4">
                        <button type="button" 
                            ng-repeat="type in ctrl.types"
                            ng-click="ctrl.showType === type ? ctrl.showType = undefined : ctrl.showType = type"
                            ng-class="['btn','button-margin','btn-default',{'btn-primary': ctrl.showType === type}]"
                            class="btn button-margin">
                            {{type}}
                        </button>
                    </div>                    
                </div>                
            </div>  
            

        </div>
        
        <!-- NG-REPEAT with Array -->
        <div class="container">
            <h1>ACTIVITIES</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th> 
                            <a href="#" ng-click="order = 'title'">Activity</a>
                        </th>
                        <th>
                            <a href="#" ng-click="order = 'coach'">Coach</a>
                        </th>                        
                        <th>Schedule</th>
                        <th>Scores</th>
                        <th>Code</th>
                        <th class="centered">
                            <span class="glyphicon glyphicon-icon glyphicon-trash" aria-hidden="true"></span>
                        </th>
                        <th class="centered">Dificulty</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>   
                    <tr ng-repeat="activity in ctrl.activities | filter:{ type:ctrl.showType } | filter:search | orderBy: order"
                        ng-class="{'grey-background':$even}"
                        ng-show="!ctrl.showType || ctrl.showType === activity.type"
                        >
                        <th scope="row">{{$index+1}}</th>
                        <td>{{activity.title}}</td>
                        <td>{{activity.coach}}</td>                        
                        <td>
                            <div ng-repeat="(day,schedules) in activity.schedule">
                                <span class="badge"
                                      ng-class="{'red-color': day === 'sun' || day === 'sat'}"
                                      ng-repeat="schedule in activity.schedule[day]">
                                {{day}}-{{schedule | number:2}} h
                                </span>                                
                            </div>
                        </td>
                        <td>
                            <span class="badge"
                                  ng-repeat="score in activity.scores track by $index"
                                  ng-class="score >=7 ? 'badget yellow-background' : 'badget'"
                                  >{{score}}</span>
                        </td>
                        <td>
                            {{ctrl.getCode(activity.title,activity.coach,ctrl.activitiesCodes,ctrl.coachesCodes)}}
                        </td>
                        <td class="centered">                            
                            <button type="button" class="btn btn-default btn-danger glyphicon glyphicon-icon glyphicon-trash"
                                    ng-click="ctrl.deleter($index,ctrl.activities)"> 
                            </button>                                                        
                        </td>
                        <td class="centered">
                            <!--<input type="text" ng-model="activity.dificulty">-->
                            <!-- Con CLICK&EDIT -->
                            <div ng-click="editing = true;"
                                 ng-hide="editing"
                                 ng-mouseover="showEdit = true"
                                 ng-mouseleave="showEdit = false"
                                 >
                                <div class="inline-block">
                                    <p>{{activity.dificulty}}</p>
                                </div>
                                <div class="inline-block">
                                    <span class="glyphicon glyphicon-edit" ng-show="showEdit"></span>
                                </div>
                            </div>
                            <div ng-show="editing">
                                <input type="text"
                                       size="2"
                                       ng-model="activity.dificulty"
                                       ng-blur="editing = false;">                                
                            </div> 
                        </td>
                        <td>
                            <div ng-class="{'glyphicon glyphicon-fire':activity.users > 20}"></div>
                            <div ng-class="activity.type === 'soft' ? 'glyphicon glyphicon-heart-empty' : 'glyphicon glyphicon-flash'"></div>
                        </td>
                    </tr>                    
                </tbody>
            </table>             
        </div>

         <!-- FORM para añadir actividades -->
         <!--<pre>{{activityForm.title | json}}</pre>-->

         <div class="container">
             <form name="ctrl.activityForm" role="form">
                <div class="row">
                    <legend><h1>Add New Activity</h1></legend>
                    <div class="form-group">
                        <label for="title" class="col-md-2 col-form-label">Title</label> 
                        <div class="col-md-10">
                            <input  type="text"
                                    name="title"
                                    ng-model="ctrl.newActivity.title"
                                    class="form-control"
                                    placeholder="Title"
                                    required>                            
                        </div>                                                                   
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <span class="help-block error" ng-show="ctrl.activityForm.title.$error.required && ctrl.activityForm.title.$touched">
                            Este campo es obligatorio.
                        </span>
                    </div>
                </div>
                <div class="row">                
                    <div class="form-group">                
                        <label for="coach" class="col-md-2 col-form-label">Coach</label>
                    <div class="col-md-10"> 
                            <input  type="text"
                                    name="coach"
                                    ng-model="ctrl.newActivity.coach"
                                    class="form-control"
                                    placeholder="Coach"
                                    required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <span class="help-block error" ng-show="ctrl.activityForm.coach.$error.required && ctrl.activityForm.coach.$touched">
                            Este campo es obligatorio.
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="dificulty" class="col-md-2 col-form-label">Dificulty</label>
                        <div class="col-md-10">
                            <input  type="number"
                                    name="dificulty"
                                    ng-model="ctrl.newActivity.dificulty"
                                    class="form-control"
                                    placeholder="Dificulty"
                                    min="0"
                                    max="10"
                                    required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <span class="help-block error" ng-show="ctrl.activityForm.dificulty.$error.required && ctrl.activityForm.dificulty.$touched">
                            Este campo es obligatorio.
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="type" class="col-md-2 col-form-label">Type</label>
                        <div class="col-md-10">
                            <select ng-model="ctrl.newActivity.type"
                                    class="form-control"
                                    required>
                                <option value="" selected>Type</option>
                                <option value="hard">Hard</option>
                                <option value="soft">Soft</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <span class="help-block error" ng-show="ctrl.activityForm.type.$error.required && ctrl.activityForm.type.$touched">
                            Este campo es obligatorio.
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-inline">
                        <label for="schedule" class="col-md-2 col-form-label">Schedule</label>
                        <div class="col-md-10">
                            <label for="day" class="col-form-label sr-only">Day</label>
                            <select ng-model="ctrl.newActivity.schedule.day"
                                    class="form-control"
                                    placeholder="Dificulty"
                                    required>
                                <option value="" selected>WEEK DAY</option>
                                <option value="sun">SUN</option>
                                <option value="mon">MON</option>
                                <option value="tue">TUE</option>
                                <option value="wed">WED</option>
                                <option value="thu">THU</option>
                                <option value="fri">FRI</option>
                                <option value="sat">SAT</option>
                            </select>
                            <label for="Time" class="col-form-label sr-only">Time</label>
                            <input  name="time"
                                    type="time"
                                    ng-model="ctrl.newActivity.schedule.time"
                                    class="form-control"
                                    step="900"
                                    required/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <span class="help-block error" ng-show="ctrl.activityForm.type.$error.required && ctrl.activityForm.type.$touched">
                            Este campo es obligatorio.
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <button type="button"
                                class="btn btn-primary btn-lg"
                                ng-click="ctrl.addActivity(ctrl.newActivity,ctrl.activities,ctrl.activityForm)"
                                ng-disabled="ctrl.activityForm.$invalid">
                                Añadir!
                            </button>
                        </div> 
                    </div>
                </div>                  
            </form>
         </div>

        <!-- FILTERS Sample -->
        <div class="container" ng-init="shirts = [{color:'green',stock:5},{color:'red',stock:8},{color:'yellow',stock:1}]"> 
            <!--Order by:
            <button type="button"
                    class="btn btn-default"
                    ng-click="criteria = 'color'">Color</button>
            <button type="button"
                    class="btn btn-default"
                    ng-click="criteria = 'stock'">Size</button>
            <ul class="list-group">
                <li class="list-group-item"
                    ng-repeat="shirt in shirts | orderBy: criteria ">{{shirt.color}} | {{shirt.stock}}</li>
            </ul>-->

            <!-- Con STRING -->
            <!--<ul class="list-group">
                <li class="list-group-item"
                    ng-repeat="shirt in shirts | filter: 'green' ">{{shirt.color}} | {{shirt.stock}}</li>
            </ul>-->
            <!-- Con OBJETO -->
            <!--<ul class="list-group">
                <li class="list-group-item"
                    ng-repeat="shirt in shirts | filter: {stock:8} ">{{shirt.color}} | {{shirt.stock}}</li>
            </ul>-->            
        </div>
            
        
    </div>