<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Project 3</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/custom.css">

    <style>
        .grey-background {
            background-color: WhiteSmoke;
        }
    </style>

</head>
<body ng-cloak>        
    <div ng-controller="DirectivesController as ctrl">
            <!--// Podemos acceder al formulario a través de “userForm”-->
           <!-- <pre>{{ctrl.userForm | json}}</pre>
         	<form name="ctrl.userForm">
                <label for="name">Name</label>
                <input type="text"
                       name="nombre"
                       ng-model="ctrl.user.name"
                       required>
		    </form>-->


        <!-- TOAST para form feedback -->
        <div class="toast alert"
             ng-if="ctrl.toast.message"             
             ng-class="{'alert-success':ctrl.toast.success,'alert-warning':ctrl.toast.warning}"             
             role="alert">
             {{ctrl.toast.message}}
             <div class="x-close"
                  ng-click="ctrl.toast = {}">
                  X
             </div>
        </div>     
        
        <!--PAGE HEADER BUTTONS-->
        <div class="page-header">
            
            <div class="row">                
                <div class="form-group">
                    <label for="search" class="col-md-2 control-label"></label>
                    <div class="col-sm-10">
                        <input type="text" name="search" id="search" class="form-control" placeholder="Search"
                               ng-model="search">
                        <div ng-if="search">
                            Showing {{(ctrl.activities | filter:search).length}} results
                        </div>
                    </div>
                </div>
                
            </div>
            
            <!-- Con BUTTON SHOWALL -->
            <!--<button type="button" 
                    ng-repeat="type in ctrl.types"
                    ng-click="ctrl.showType ?  = type"
                    class="btn btn-success button-margin">
                    {{type}}
            </button>-->
           <!-- <button type="button"
                    ng-click="ctrl.showType = ''"
                    class="btn btn-success button-margin">
                    Show All
            </button>-->

            <!-- Con BUTTON SWITCH -->    
            <button type="button" 
                    ng-repeat="type in ctrl.types"
                    ng-click="ctrl.showType === type ? ctrl.showType = undefined : ctrl.showType = type"
                    ng-class="['btn','button-margin','btn-default',{'btn-primary': ctrl.showType === type}]"
                    class="btn button-margin">
                    {{type}}
            </button>

        </div>

        <!-- Without NG-REPEAT -->
        <!--<div class="container">
            <h1>ACTIVITIES</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Activity</th>
                        <th>Coach</th>
                        <th>Dificulty</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>{{ctrl.activities[0].title}}</td>
                        <td>{{ctrl.activities[0].coach}}</td>
                        <td><input type="text" ng-model="ctrl.activities[0].dificulty"></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>{{ctrl.activities[1].title}}</td>
                        <td>{{ctrl.activities[1].coach}}</td>
                        <td><input type="text" ng-model="ctrl.activities[1].dificulty"></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>{{ctrl.activities[2].title}}</td>
                        <td>{{ctrl.activities[2].coach}}</td>
                        <td><input type="text" ng-model="ctrl.activities[2].dificulty"></td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>{{ctrl.activities[3].title}}</td>
                        <td>{{ctrl.activities[3].coach}}</td>
                        <td><input type="text" ng-model="ctrl.activities[3].dificulty"></td>
                    </tr>                     
                </tbody>
            </table>
            <h1>CUSTOMERS</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Activity</th>
                        <th>Level</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>{{ctrl.customers[0].name}}</td>
                        <td>{{ctrl.customers[0].surname}}</td>
                        <td>{{ctrl.customers[0].activity}}</td>
                        <td>{{ctrl.customers[0].level}}</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>{{ctrl.customers[1].name}}</td>
                        <td>{{ctrl.customers[1].surname}}</td>
                        <td>{{ctrl.customers[1].activity}}</td>
                        <td>{{ctrl.customers[1].level}}</td>
                    </tr>                     
                </tbody>
            </table>                          
        </div>-->  
        

        <!-- NG-REPEAT with Array -->
        <div class="container">
            <h1>ACTIVITIES</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th> 
                            <a href="#" ng-click="order = 'title'">Activity</a>
                        </th>
                        <th>
                            <a href="#" ng-click="order = 'coach'">Coach</a>
                        </th>                        
                        <th>Schedule</th>
                        <th>Scores</th>
                        <th>Code</th>
                        <th class="centered">
                            <span class="glyphicon glyphicon-icon glyphicon-trash" aria-hidden="true"></span>
                        </th>
                        <th class="centered">Dificulty</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>   
                    <tr ng-repeat="activity in ctrl.activities | filter:{ type:ctrl.showType } | filter:search | orderBy: order"
                        ng-class="{'grey-background':$even}"
                        ng-show="!ctrl.showType || ctrl.showType === activity.type"
                        >
                        <th scope="row">{{$index+1}}</th>
                        <td>{{activity.title}}</td>
                        <td>{{activity.coach}}</td>                        
                        <td>
                            <div ng-repeat="(day,schedules) in activity.schedule">                                
                                <span class="badge"
                                      ng-class="{'red-color': day === 'sun' || day === 'sat'}"
                                      ng-repeat="schedule in schedules">
                                      {{day}}-{{schedule | number:2}} h
                                </span>                                
                            </div>
                        </td>
                        <td>
                            <span class="badge"
                                  ng-repeat="score in activity.scores track by $index"
                                  ng-class="score >=7 ? 'badget yellow-background' : 'badget'"
                                  >{{score}}</span>
                        </td>
                        <td>
                            {{ctrl.getCode(activity.title,activity.coach,ctrl.activitiesCodes,ctrl.coachesCodes)}}
                        </td>
                        <td class="centered">                            
                            <button type="button" class="btn btn-default btn-danger glyphicon glyphicon-trash"
                                    ng-click="ctrl.deleter($index,ctrl.activities)"> 
                            </button>                                                        
                        </td>
                        <td class="centered">
                            <!--<input type="text" ng-model="activity.dificulty">-->
                            <!-- Con CLICK&EDIT -->
                            <div ng-click="editing = true;"
                                 ng-show="!editing"
                                 ng-mouseover="showEdit = true"
                                 ng-mouseleave="showEdit = false;">
                                <div class="inline-block">
                                    <p>{{activity.dificulty}}</p>
                                </div>
                                <div class="inline-block">
                                    <span class="glyphicon glyphicon-edit" ng-show="showEdit"></span>
                                </div>
                            </div>
                            <div ng-show="editing">
                                <input type="text"
                                       size="2"
                                       ng-model="activity.dificulty"
                                       ng-blur="editing = false;">                              
                            </div> 
                        </td>
                        <td>
                            <div ng-class="{'glyphicon glyphicon-fire': activity.users > 20}"></div>
                            <div ng-class="activity.type === 'soft' ? 'glyphicon glyphicon-heart-empty' : 'glyphicon glyphicon-flash'"></div>
                        </td>
                    </tr>                    
                </tbody>
            </table>
            <h1>CUSTOMERS</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Title</th>
                        <th>Level</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="customer in ctrl.customers">
                        <th scope="row">{{$index+1}}</th>
                        <td>{{customer.name}}</td>
                        <td>{{customer.surname}}</td>
                        <td>{{customer.activity.title}}</td>
                        <td>{{customer.activity.dificulty}}</td>
                    </tr>                
                </tbody>
            </table>                          
        </div>

        <!-- NG-REPEAT with Object -->
        <!--  <div class="container">
            <h1>ACTIVITIES</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Activity</th>
                        <th>Coach</th>
                        <th>Dificulty</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(key,value) in ctrl.activities">
                        <th scope="row">{{$index+1}}</th>
                        <td>{{value.title}}</td>
                        <td>{{ctrl.activities[key].coach}}</td>
                        <td><input type="text" ng-model="ctrl.activities[key].dificulty"></td>
                    </tr>                    
                </tbody>
            </table>
            <h1>CUSTOMERS</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Car Rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="customer in ctrl.customers">
                        <th scope="row">{{$index+1}}</th>
                        <td>{{customer.name}}</td>
                        <td>{{customer.surname}}</td>
                        <td>{{customer.level}}</td>
                    </tr>                
                </tbody>
            </table>                          
        </div>-->

         <!-- FORM para añadir actividades -->
         <!--<pre>ACT: {{ctrl.activityForm.title | json}}</pre>-->

         <div class="container">
             <form name="ctrl.activityForm" role="form" novalidate>
                <div class="row">
                    <legend><h1>Add New Activity</h1></legend>
                    <div class="form-group">
                        <label for="title" class="col-md-2 col-form-label">Title</label> 
                        <div class="col-md-10">
                            <input  type="text"
                                    name="title"
                                    ng-model="ctrl.newActivity.title"
                                    class="form-control"
                                    placeholder="Title"
                                    required>                            
                        </div>                                                                   
                    </div>
                </div>                
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <span class="help-block error" ng-show="ctrl.activityForm.title.$error.required && ctrl.activityForm.title.$touched">
                            Este campo es obligatorio.
                        </span>
                    </div>
                </div>
                <div class="row">                
                    <div class="form-group">                
                        <label for="coach" class="col-md-2 col-form-label">Coach</label>
                        <div class="col-md-10"> 
                            <input  type="text"
                                    name="coach"
                                    ng-model="ctrl.newActivity.coach"
                                    class="form-control"
                                    placeholder="Coach"
                                    required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <span class="help-block error" ng-show="ctrl.activityForm.coach.$error.required && ctrl.activityForm.coach.$touched">
                            Este campo es obligatorio.
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="dificulty" class="col-md-2 col-form-label">Dificulty</label>
                        <div class="col-md-10">
                            <input  type="number"
                                    name="dificulty"
                                    ng-model="ctrl.newActivity.dificulty"
                                    class="form-control"
                                    placeholder="Dificulty"
                                    min="0"
                                    max="10"
                                    required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <span class="help-block error" ng-show="ctrl.activityForm.dificulty.$error.required && ctrl.activityForm.dificulty.$touched">
                            Este campo es obligatorio.
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="type" class="col-md-2 col-form-label">Type</label>
                        <div class="col-md-10">
                            <select ng-model="ctrl.newActivity.type"
                                    class="form-control"
                                    required>
                                <option value="" selected>Type</option>
                                <option value="hard">Hard</option>
                                <option value="soft">Soft</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <span class="help-block error" ng-show="ctrl.activityForm.type.$error.required && ctrl.activityForm.type.$touched">
                            Este campo es obligatorio.
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-inline">
                        <!--<label for="schedule" class="col-md-2 col-form-label">Schedule</label>
                        <div class="col-md-10">
                            <label for="day" class="col-form-label sr-only">Day</label>
                            <select ng-model="ctrl.newActivity.schedule.day"
                                    class="form-control"
                                    placeholder="Dificulty"
                                    required>
                                <option value="" selected>WEEK DAY</option>
                                <option value="sun">SUN</option>
                                <option value="mon">MON</option>
                                <option value="tue">TUE</option>
                                <option value="wed">WED</option>
                                <option value="thu">THU</option>
                                <option value="fri">FRI</option>
                                <option value="sat">SAT</option>
                            </select>
                            <label for="Time" class="col-form-label sr-only">Time</label>
                            <input  name="time"
                                    type="time"
                                    ng-model="ctrl.newActivity.schedule.time"
                                    class="form-control"
                                    step="900"
                                    required/>
                        </div>-->
                        <div ng-repeat="schedule in ctrl.newActivity.schedules">
                            <div class="col-md-2">
                                <label for="schedule"
                                       class="col-md-2 col-form-label"
                                       ng-if="$first">
                                       Schedule
                                </label>
                            </div>
                            <div class="col-md-10">
                                <label for="day" class="col-form-label sr-only">Day</label>
                                <select ng-model="ctrl.newActivity.schedules[$index].day"
                                        class="form-control"
                                        placeholder="Dificulty"
                                        required>
                                    <option value="" selected>WEEK DAY</option>
                                    <option value="sun">SUN</option>
                                    <option value="mon">MON</option>
                                    <option value="tue">TUE</option>
                                    <option value="wed">WED</option>
                                    <option value="thu">THU</option>
                                    <option value="fri">FRI</option>
                                    <option value="sat">SAT</option>
                                </select>
                                <label for="Time" class="col-form-label sr-only">Time</label>
                                <input  name="time"
                                        type="time"
                                        ng-model="ctrl.newActivity.schedules[$index].time"
                                        class="form-control"
                                        step="900"
                                        required/>
                                <button type="button"
                                        class="btn btn-default"
                                        ng-if="ctrl.newActivity.schedules[$index].time"
                                        ng-click="ctrl.deleter($index, ctrl.newActivity.schedules)">
                                        -
                                </button>
                            </div>
                        </div>
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-10 row-padding">
                            <button type="button"
                                    class="btn btn-default"
                                    ng-click="ctrl.addSchedule(ctrl.newActivity.schedules)">
                                    Add Schedule +
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <span class="help-block error" ng-show="ctrl.activityForm.type.$error.required && ctrl.activityForm.type.$touched">
                            Este campo es obligatorio.
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <button type="button"
                                class="btn btn-primary btn-lg"
                                ng-click="ctrl.addActivity(ctrl.newActivity,ctrl.activities,ctrl.activityForm)"
                                ng-disabled="ctrl.activityForm.$invalid">
                                Añadir!
                            </button>
                        </div> 
                    </div>
                </div>                  
            </form>
         </div>
         
         <!-- FORM para añadir customers -->
         <div class="container">
             <form name="ctrl.customerForm" role="form" novalidate>
                <div class="row">
                    <legend><h1>Add New Customer</h1></legend>
                    <div class="form-group">
                        <label for="name" class="col-md-2 col-form-label">Name</label>
                        <div class="col-md-10">
                            <input  type="text"
                                    name="name"
                                    class="form-control"
                                    ng-model="ctrl.newCustomer.name"                                    
                                    placeholder="name"
                                    minlength="5"
                                    required>                            
                        </div>                                                                   
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <span class="help-block error"
                              ng-show="ctrl.customerForm.name.$error.required && ctrl.customerForm.name.$touched">
                            Este campo es obligatorio.
                        </span>
                        <span class="help-block error"
                              ng-show="ctrl.customerForm.name.$error.minlength && ctrl.customerForm.name.$touched">
                            El nombre de usuario debe contener 5 caracteres como mínimo.
                        </span>
                    </div>
                </div>
                <div class="row">                
                    <div class="form-group">                
                        <label for="coach" class="col-md-2 col-form-label">Surname</label>
                        <div class="col-md-10">
                            <input type="text"
                                    name="surname"
                                    ng-model="ctrl.newCustomer.surname"
                                    class="form-control"
                                    placeholder="surname"
                                    required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <span class="help-block error" ng-show="ctrl.customerForm.surname.$error.required && ctrl.customerForm.surname.$touched">
                            Este campo es obligatorio.
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="email" class="col-md-2 col-form-label">Email</label>
                        <div class="col-md-10">
                            <input  type="email"
                                    name="email"
                                    ng-model="ctrl.newCustomer.email"
                                    ng-class="{'input-error':ctrl.customerForm.email.$error.taken || ctrl.customerForm.email.$error.domain}"
                                    ng-change="ctrl.emailTaken(ctrl.newCustomer.email,ctrl.customers,ctrl.customerForm);ctrl.matchPattern(ctrl.newCustomer.email,ctrl.customerForm);"
                                    class="form-control"
                                    placeholder="email"
                                    required>
                                   <!-- ng-model-options="{updateOn:'blur'}"-->
                                   <!--ng-pattern="'.*@hotelbeds.com$'"-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <span class="help-block error" ng-show="ctrl.customerForm.email.$error.required && ctrl.customerForm.email.$touched">
                            Este campo es obligatorio.
                        </span>
                        <span class="help-block error" ng-show="ctrl.customerForm.email.$error.taken">
                            Este email ya está registrado, por favor prueba con otro.
                        </span>
                        <span class="help-block" ng-show="ctrl.customerForm.email.$error.domain">
                           El email debe ser de HotelBeds :)
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="activity" class="col-md-2 col-form-label">Activity</label>
                        <div class="col-md-10">
                            <select ng-model="ctrl.newCustomer.activity"
                                    ng-options="activity as activity.title for activity in ctrl.activities"                                    
                                    class="form-control"
                                    required>
                                    <!--ng-init="ctrl.newCustomer.activity = ctrl.activities[0]"-->
                                <option value="" selected>activity</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <span class="help-block error" ng-show="ctrl.customerForm.activity.$error.required && ctrl.customerForm.activity.$touched">
                            Este campo es obligatorio.
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <button type="button"
                                class="btn btn-primary btn-lg"
                                ng-click="ctrl.addCustomer(ctrl.newCustomer,ctrl.customers,ctrl.customerForm)"
                                ng-disabled="ctrl.customerForm.$invalid || ctrl.customerForm.email.$error.taken || ctrl.customerForm.email.$error.domain">
                                Añadir!
                            </button>
                        </div> 
                    </div>
                </div>
         </div>

        <!-- FILTERS Sample -->
        <div class="container" ng-init="shirts = [{color:'green',stock:5},{color:'red',stock:8},{color:'yellow',stock:1}]"> 
            <!--Order by:
            <button type="button"
                    class="btn btn-default"
                    ng-click="criteria = 'color'">Color</button>
            <button type="button"
                    class="btn btn-default"
                    ng-click="criteria = 'stock'">Size</button>
            <ul class="list-group">
                <li class="list-group-item"
                    ng-repeat="shirt in shirts | orderBy: criteria ">{{shirt.color}} | {{shirt.stock}}</li>
            </ul>-->

            <!-- Con STRING -->
            <!--<ul class="list-group">
                <li class="list-group-item"
                    ng-repeat="shirt in shirts | filter: 'green' ">{{shirt.color}} | {{shirt.stock}}</li>
            </ul>-->
            <!-- Con OBJETO -->
            <!--<ul class="list-group">
                <li class="list-group-item"
                    ng-repeat="shirt in shirts | filter: {stock:8} ">{{shirt.color}} | {{shirt.stock}}</li>
            </ul>-->            
        </div>
            
        
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.js"  integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/app.module.js" type="text/javascript"></script>
    <script src="js/directives.controller.js" type="text/javascript"></script>
    <script src="js/calculadora.controller.js" type="text/javascript"></script>   
    
	</body>
</html>
